/* CSS declarations go here */
body, html { 
	margin: 0; 
	padding: 0; 
	color: #4a4744; 
	background: #ffffff; 
	font-family: arial,helvetica,sans-serif;
	font-size: 13px;
}
h1 { font-size: 22px; margin-top: 0px; margin-bottom: 4px;}
h2 { font-size: 18px; }
input[type=button], button { 
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:0px;
	color:#ffffff;
	font-size:13px;
	padding: 6px 12px;
	margin-bottom: 12px;
	text-decoration:none;
	min-width: 60px;
	background-color: #999999;
}
input[type=button]:hover, button:hover { opacity: 0.75; }
input[type=text], textarea { 
	border: solid;
	border-width: 1px; 
	border-color: #999999;
	color: #4a4744;
	padding: 4px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	font-size: 12px;
}
textarea { width: 364px; }
input[type=text] { 
	width: 200px; 
	margin-left: 24px; 
}
table, th, td {
	padding: 4px 12px 0px;
	text-align: left;
	margin: 0px;
	border-spacing: 0px;
}
td { vertical-align: top;}
ul {
	list-style-type: circle;
	padding: 0px;
	margin: 6px 0px 0px 18px;
}
li {
	padding: 6px 8px 4px 0px; 
}

/* LOGIN SCREEN */
#loginScreen { 
	font-size: 18px;
	line-height: 28px;
	width: 400px;
	text-align: center;
	margin: 60px auto 0px;
}
#login-buttons-google.login-button.single-login-button, 
#messages-dialog-dismiss-button.login-button { 
	background-color: #FF6319;
	background-image: linear-gradient(to bottom, #ff9900, #FF6319);
}

/* FILE PAGE */
#fileLeft { 
	width: 110px; 
	position: fixed; 
	padding-top: 18px;
	padding-left: 20px;
	background-color: #999;
	height:100%;
	color: #fff;
	cursor: default;
}
#fileLeft a { text-decoration: none; color: #FFF; }
#fileLeft a:hover { color: #DDD; }
p#logoutButton:hover { color: #DDD;}
#fileRight {
	margin: 0px 12px 0px 125px;
}
#fileRight a { text-decoration: none; }
#fileRight a:link { color: #01D;}
#fileRight a:visited { color: #0003AA;}
#fileRight a:hover { opacity: .8; text-decoration: underline; }
#fileRight th { min-width: 80px;}
.tableButton { margin: 0px; }
button.sortButton {
	font-size:6px;
	padding: 3px;
	margin-bottom: 0px;
	min-width: 5px;
	vertical-align: text-bottom;
}
#confirmPopup, .errorPopup { 
	z-index: 1001;
	position: fixed;
	left: 50%;
	margin-left: -103px;
	top: 50%;
	margin-top: -40px;
	background-color: #999;
	color: #fff;
	border: solid 3px #999999;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	padding: 0px 1em;
}

#confirmPopup p, .errorPopup p { color: #fff;}
.errorPopup { background-color: #D11; width: 300px; text-align: center; font-weight: bold; border: #D11;}

/* COMPOSE PAGE */
#main { width: 100%; margin: 6px auto; }
#composeLeft { float: left; width: 650px; margin: 12px 12px 0px 20px; }
#composeRight { margin-left: 674px; padding: 0px 12px; margin-right: 22px; min-height: 500px;}
.composePageInputs {
  width: 650px;
  padding-top: 12px;
  float: left;
}
.composePageInputLabel {  width: 106px; float: left; margin: 4px 4px 4px 0px; padding-top: 6px; }
.composePageInputText { width: 526px; float: right; margin: 4px 4px 4px 0px;}
.unchanged { outline: none; box-shadow: 0 0 10px #FF6319; }
#composeLeft input {
  width: 516px;     
  vertical-align: top;
  margin-left: 0px;
}
#composeLeft textarea { width: 636px; }

/* slideout menu */
.tipsTextBox { 
	z-index: 1001;
	position: fixed;
	left: 680px;
	margin-left: 0px;
	top: 18px;
	margin-top: 0px;
	background-color: #999;
	color: #fff;
	border: solid 3px #999999;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	padding: 0px 1em;
}

.clear { clear: both; }
.snippetsText { text-decoration: underline; cursor: default; }

/* display */
#display { }
#display table, #display td, #display p {
	color:#4a4744;
	font-size:13px;
	line-height:150%;
	font-family:arial,helvetica,sans-serif;
	text-align:left;
	padding: 0px;
}
#display p {margin-top:12px; margin-bottom:12px; }
#display a { color:#235ab7; }
#display sup { font-size: 65%; line-height: 0; position: relative; top: -0.4em; }
#display sub { font-size: 65%; line-height: 0; position: relative; top: 0.4em; vertical-align: baseline; }
#display .footnotes {
	color:#4a4744;
	font-size:12px;
	line-height:15px;
	font-family:arial,helvetica,sans-serif;
	text-align:left;
}
/* adding new ordered list styling */
#display ol { margin: 0px 0px 12px 0px; list-style-type: decimal; }
#display ul { margin: 0px 0px 12px 0px; list-style-type: disc; }
#display li { font-size: 13px; line-height: 15px; margin: 0px 10px 0px 0px; }

/* html display */
#display_html { margin-right: 40px;  }
#display_html p, #display_html plaintext {
	margin-left: 0px;
	padding-left: 0px;
	font-size: 11px;
	width: 476px;
}

.apiInfo {
	width: 480px;
	padding-top: 12px;
	padding-left: 0px;
	float: left;
}

/* page creation styling */
#createPage, #postAPIpage { margin: 0px auto; width: 1080px; font-family: arial,sans-serif; font-weight: 400; color: #766F67; }
.createPageInputs {
  width: 520px;
  padding-top: 12px;
  float: left;
}
.createPageInputLabel {  width: 150px; float: left; margin: 4px; padding-top: 6px; font-weight: bold;}
.createPageInputText { width: 350px; float: right; margin: 4px;}
.createPageInputs input, .createPageInputs textarea {
  width: 340px;     
  vertical-align: top;
  margin-left: 0px;
}
.createPageInputs input[type=checkbox] {
	width: 8px;
	margin-right: 8px;
}
#createPageDisplay { width: 520px; padding-top: 2px; float: right; padding-right: 12px;}

/* page creation display styling
--------------------------------------*/
#createPageDisplay p { font: 13px/15px arial,sans-serif; margin-bottom: 13px; margin-top: 0px; }
#createPageDisplay p:last-child { margin-bottom: 0px; }
#createPageDisplay a { color:#235ab7; }
#createPageDisplay a.buttonA:hover { color: #fff; cursor: pointer; text-decoration: underline; }
#createPageDisplay strong, b { font-weight: bold; }
#createPageDisplay label, #createPageDisplay label p { font-size: 12px; line-height: 20px; }
#createPageDisplay em, #createPageDisplay i { font-style: italic; }
.titleA { font-size: 22px; line-height: 26px; margin: 12px 0px 12px 0px; }
.banding { position: relative; }
.banding:before, .banding:after { width: 10px; content: ""; position: absolute; top: 0; bottom: 0; }
.banding:before { right: 100%; }
.banding:after { left: 100%; }

/*	Typography for Campaigners
--------------------------------------*/
.story { overflow: hidden; }
.story .story-image1 { float: left; padding: 0px 10px 10px 0px; }
.story img.left { float: left; padding: 0px 10px 10px 0px; margin: 0px 0px 0px 0px; }
.story img.right { float: right; padding: 0px 0px 10px 10px; margin: 0px 0px 0px 0px; }
.story blockquote { font-size: 15px; line-height: 18px; /* padding: 10px 0px 10px 0px; */ margin: 0px 0px 20px 30px; }
.story blockquote p { font-size: 15px; line-height: 18px; margin-bottom: 22px; }
.story blockquote p:last-child { padding: 0px; margin: 0px; }
#createPageDisplay .story .highlight { font-size: 22px; line-height: 28px; border-top: 1px solid #ff6319; border-bottom: 1px solid #ff6319; padding: 10px 0px 10px 0px; margin: 0px 0px 20px 0px; }
#createPageDisplay .story .highlight p { font-size: 22px; line-height: 28px; margin-bottom: 22px; }
#createPageDisplay .story .highlight p:last-child { padding: 0px; margin: 0px; }
.story sup { font-size: 65%; line-height: 0; position: relative; vertical-align: baseline; top: -0.7em; }
.story ol { margin: 0px 0px 12px 0px; list-style-type: decimal; }
.story ul { margin: 0px 0px 12px 0px; list-style-type: disc; }
.story li { font-size: 13px; line-height: 15px; margin: 0px 10px 0px 0px; }
#createPageDisplay .story .sources:before { content: "SOURCES:"; font-size: 10px; line-height: 18px; margin-left: -20px; }
#createPageDisplay .story ol.sources { margin: 0px 0px 20px 20px; }
#createPageDisplay .story .sources li { font-size: 12px; margin: 0px 0px 0px 4px; }
#createPageDisplay .story .resources:before { content: "RESOURCES:"; font-size: 10px; line-height: 18px; margin-left: -20px; }
#createPageDisplay .story ul.resources { margin: 0px 0px 20px 20px; }
#createPageDisplay .story .resources li { font-size: 12px; margin: 0px 0px 0px 4px; }
/* ----------	general .form-item rules */
.form-item { padding-bottom: 10px; }
/* ---------- 	Form Box */
.form-box { margin: 0px 0px 20px 0px; }
.form-prompt-box { background: #ddd; padding: 10px 0px 12px 0px; }
.form-prompt-box.banding:before, .form-prompt-box.banding:after { background: #ddd; }
/*-----------    Facebook */
.facebook { margin: 12px 0px; font-size: 12px; border: 1px #6d84b4 solid; min-height: 145px; }
#fb_header { background-color: #6d84b4; display: block; padding: 2px; color: white; vertical-align: middle; }
.fb_graphic { float: left; padding: 12px;}
#fb_title { margin: 12px; color: #3b5998; font-weight: bold;}
#fb_copy { margin: 12px; color: gray;}

#tw { margin: 12px 0px; font-size: 12px; border: 1px #aaa solid; }
#tw_logo { float: left; padding: 12px; vertical-align: middle; }
#tw_copy { margin: 12px; color: gray;}

#tafemail { margin: 12px 0px; font-size: 12px; border: 1px #aaa solid; }
#tafemail_logo { margin: 12px; float: left;}
#tafemail_sl { margin: 12px; font-weight: bold; }
#tafemail_body { margin: 12px; }

#confemail { margin: 12px 0px; font-size: 12px; border: 1px #aaa solid; }
#confemail_sl { margin: 12px; font-weight: bold; }
#confemail_body { margin: 12px; }

/* page creation input styling */
.taf, .bodytext { margin: 12px 0px; padding: 12px; font-size: 12px; background-color: #ddd; }
.taf_logo { float: left; padding-right: 12px; }
.taf_title { margin: 0px; color: gray; font-weight: bold;}
.taf_copy { margin: 0px; color: gray;}
.taf textarea, .taf input { width: 440px;}

.bodytext_desc { float: left; padding-right: 4px; font-weight: bold; width: 65px; padding-top: 4px;}
.bodytext textarea { width: 484px;}
.bodytext input { width: 415px; vertical-align: middle; }
 
/* events */
#createPage.eventPage { margin-top: 20px;}

.bodytext_desc.event { width: 200px; }
.taf_copy.event textarea { width: 500px; }
.taf_title.event input { width: 500px; margin-left: 0px;}

#subEventForm { border: 2px gray solid; border-radius: 2px; width:700px; margin: 0px auto; padding: 10px 12px;}
.eventMsgBox { border: 2px red solid; margin: 10px 0px; padding: 10px 12px; width: 700px;}
.eventInputs { margin: 10px;}
