<template name="templatePageTitle">
	<div class="bodytext" >
		<div class="bodytext_desc">Title</div>
		<div class="taf_title"><input type="text" id="pageTitle" value="{{getValue "pageTitle"}}"></div>
	</div>
</template>

<template name="templatePageName">
	<div class="bodytext" >
		<div class="bodytext_desc">Short URL</div>
		<div class="taf_title"><input type="text" id="pageName" value="{{getValue "pageName"}}"></div>
	</div>
</template>

<template name="templatePageStatement">
	<div class="bodytext" >
		<div class="bodytext_desc">Petition</div>
		<div class="taf_title"><input type="text" id="pageStatementLeadIn" value="{{#if getValue "pageStatementLeadIn"}}{{getValue "pageStatementLeadIn"}}{{else}}Statement lead-in:{{/if}}"></div>
		<div class="taf_copy"><textarea class="textbox" rows="4" type="text" id="pageStatementText">{{#if getValue "pageStatementText"}}{{getValue "pageStatementText"}}{{else}}"Petition text in Markdown"{{/if}}</textarea></div>
	</div>
</template>

<template name="templatePageAboutText">
	<div class="bodytext" >
		<div class="bodytext_desc">About text</div>
		<div class="taf_copy"><textarea class="textbox" rows="15" type="text" id="pageAboutText">{{#if getValue "pageAboutText"}}{{getValue "pageAboutText"}}{{else}}In Markdown{{/if}}</textarea></div>
	</div>
</template>

<template name="templatePageFacebook">
	<div class="taf" >
		<div class="taf_logo"><img src="http://shpg.org/images/icon-fb.gif"/></div>
		<div class="taf_title"><input type="text" id="pageFacebookTitle" value="{{getValue "pageFacebookTitle"}}"></div>
		<div class="taf_copy"><textarea class="textbox" rows="4" type="text" id="pageFacebookCopy">{{getValue "pageFacebookCopy"}}</textarea></div>
	</div>
</template>

<template name="templatePageTwitterCopy">
	<div class="taf" >
		<div class="taf_logo"><img src="http://shpg.org/images/icon-twitter.gif"/></div>
		<div class="taf_copy"><textarea class="textbox" rows="3" type="text" id="pageTwitterCopy">{{getValue "pageTwitterCopy"}}</textarea></div>
	</div>
</template>

<template name="templatePageTAF">
	<div class="taf" >
		<div class="taf_logo"><img src="http://shpg.org/images/icon-email.gif"></div>
		<div class="taf_title"><input type="text" id="pageTAFSL" value="{{#if getValue "pageTAFSL"}}{{getValue "pageTAFSL"}}{{else}}TAF email subject line{{/if}}"></div>
		<div class="taf_copy"><textarea class="textbox" rows="5" type="text" id="pageTAFCopy">{{#if getValue "pageTAFCopy"}}{{getValue "pageTAFCopy"}}{{else}}TAF email body. Link: {{{ django_string "{{ page.canonical_url }}" }}}{{/if}}</textarea></div>
	</div>
</template>

<template name="templatePageConfEmail">
	<div class="bodytext" >
		<div class="bodytext_desc">Conf email</div>
		<div class="taf_title"><input type="text" id="pageConfEmailSL" value="{{#if getValue "pageConfEmailSL"}}{{getValue "pageConfEmailSL"}}{{else}}Subject line{{/if}}"></div>
		<div class="taf_copy"><textarea class="textbox" rows="8" type="text" id="pageConfEmailBody">{{#if getValue "pageConfEmailBody"}}{{getValue "pageConfEmailBody"}}{{else}}Thanks for taking action on our petition: {{{django_string "{{ page.title }}"}}}.

Here are some ways you can spread the word:

If you are on Facebook, 
[click here to post the petition to your Wall](http://www.facebook.com/sharer.php?no\_akid=1&u={{{django_string "{{ page.canonical\_url|tag\_links:\"source=share\_email\"|referring_akid:user.akid|urlencode }}"}}}).

If you have a Twitter account, click here to automatically tweet:  
[{{{django_string "{% if page.custom\_fields.taf\_tweet %}{{ page.custom\_fields.taf\_tweet }}{% else %} {{page.title}} {{page.canonical\_url}}{% endif %}"}}}](http://twitter.com/intent/tweet?no\_akid=1&text={{{django_string "{% if page.custom\_fields.taf\_tweet %}{{ page.custom_fields.taf\_tweet|urlencode }}{% else %}{{ page.title|urlencode }} {{page.canonical\_url|tag\_links:\"source=tw\_email\"|referring\_akid:user.akid}}{% endif %}"}}})

Thanks for all you do.

–The CREDO Action Team

Here’s a sample message to send to your friends:

{{{django_string "{% include\_tmpl page.followup.taf\_subject escaped %}"}}}

{{{django_string "{% filter referring\_akid:user.akid|tag\_links:\"source=conf\_email\"|linebreaksbr %}
{% include\_tmpl page.followup.taf\_body %}
{% endfilter %}"}}}
		{{/if}}</textarea></div>
	</div>
</template>

<template name="templatePageSharePageLink">
	<div class="bodytext" >
		<div class="bodytext_desc">Share page</div>
		<div class="taf_title"><input type="text" id="pageSharePageLink" value="{{getValue "pageSharePageLink"}}"></div>
	</div>
</template>

<template name="templatePageGraphics">
	<div class="bodytext" >
		<div class="bodytext_desc">HP 100px</div>
		<div class="taf_title"><input type="text" id="pageGraphicHomePage" value="{{getValue "pageGraphicHomePage"}}"></div>
		<div class="bodytext_desc">FB 200px</div>
		<div class="taf_title"><input type="text" id="pageGraphicFacebook" value="{{getValue "pageGraphicFacebook"}}"></div>
		<div class="bodytext_desc">Email 180px</div>
		<div class="taf_title"><input type="text" id="pageGraphicEmail" value="{{getValue "pageGraphicEmail"}}"></div>
	</div>
</template>


<!--

<template name="templatePageTitle">
	<div class="createPageInputLabel"><label for="pageTitle">Title:</label></div>
	<div class="createPageInputText"><input type="text" id="pageTitle" value="{{getValue "pageTitle"}}"></div>
	<div class="clear"></div>
</template>

<template name="templatePageName">
	<div class="createPageInputLabel"><label for="pageName">Short name:</label></div>
	<div class="createPageInputText"><input type="text" id="pageName" value="{{getValue "pageName"}}"></div>
	<div class="clear"></div>
</template>

<template name="templatePageStatementLeadIn">
	<div class="createPageInputLabel"><label for="pageStatementLeadIn">Statement lead-in (opt):</label></div>
	<div class="createPageInputText"><textarea class="textbox" rows="1" type="text" id="pageStatementLeadIn">{{getValue "pageStatementLeadIn"}}</textarea></div>
	<div class="clear"></div>
</template>

<template name="templatePageStatementText">
	<div class="createPageInputLabel"><label for="pageStatementText">Statement text:</label></div>
	<div class="createPageInputText"><textarea class="textbox" rows="2" type="text" id="pageStatementText">{{getValue "pageStatementText"}}</textarea></div>
	<div class="clear"></div>
</template>

<template name="templatePageAboutText">
	<div class="createPageInputLabel"><label for="pageAboutText">About text:</label></div>
	<div class="createPageInputText"><textarea class="textbox" rows="12" type="text" id="pageAboutText">{{#if getValue "pageAboutText"}}{{{getValue "pageAboutText"}}}{{/if}}</textarea></div>
	<div class="clear"></div>
</template>

<template name="templatePageFacebookTitle">
	<div class="createPageInputLabel"><label for="pageFacebookTitle">Facebook title:</label></div>
	<div class="createPageInputText"><input type="text" id="pageFacebookTitle" value="{{getValue "pageFacebookTitle"}}"></div>
	<div class="clear"></div>
</template>

<template name="templatePageFacebookCopy">
	<div class="createPageInputLabel"><label for="pageFacebookCopy">Facebook copy:</label></div>
	<div class="createPageInputText"><textarea class="textbox" rows="2" type="text" id="pageFacebookCopy">{{getValue "pageFacebookCopy"}}</textarea></div>
	<div class="clear"></div>
</template>

<template name="templatePageTwitterCopy">
	<div class="createPageInputLabel"><label for="pageTwitterCopy">Twitter copy:</label></div>
	<div class="createPageInputText"><textarea class="textbox" rows="2" type="text" id="pageTwitterCopy">{{getValue "pageTwitterCopy"}}</textarea></div>
	<div class="clear"></div>
</template>
<template name="templatePageTAFSL">
	<div class="createPageInputLabel"><label for="pageTAFSL">Email TAF subject line:</label></div>
	<div class="createPageInputText"><input type="text" id="pageTAFSL" value="{{getValue "pageTAFSL"}}"></div>
	<div class="clear"></div>
</template>

<template name="templatePageTAFCopy">
	<div class="createPageInputLabel"><label for="pageTAFCopy">Email TAF body:</label></div>
	<div class="createPageInputText"><textarea class="textbox" rows="4" type="text" id="pageTAFCopy">{{getValue "pageTAFCopy"}}</textarea></div>
	<div class="clear"></div>
</template>

<template name="templatePageConfEmailSL">
	<div class="createPageInputLabel"><label for="pageConfEmailSL">Conf email subject line:</label></div>
	<div class="createPageInputText"><input type="text" id="pageConfEmailSL" value="{{getValue "pageConfEmailSL"}}"></div>
	<div class="clear"></div>
</template>

<template name="templatePageConfEmailBody">
	<div class="createPageInputLabel"><label for="pageConfEmailBody">Conf email body:</label></div>
	<div class="createPageInputText"><textarea class="textbox" rows="4" type="text" id="pageConfEmailBody">{{getValue "pageConfEmailBody"}}</textarea></div>
	<div class="clear"></div>
</template>

<template name="templatePageSharePageLink">
	<div class="createPageInputLabel"><label for="pageSharePageLink">Share page link:</label></div>
	<div class="createPageInputText"><input type="text" id="pageSharePageLink" value="{{getValue "pageSharePageLink"}}"></div>
	<div class="clear"></div>
</template>

<template name="templatePageGraphicEmail">
	<div class="createPageInputLabel"><label for="pageGraphicEmail">Email graphic (180px):</label></div>
	<div class="createPageInputText"><input type="text" id="pageGraphicEmail" value="{{getValue "pageGraphicEmail"}}"></div>
	<div class="clear"></div>
</template>

<template name="templatePageGraphicFacebook">
	<div class="createPageInputLabel"><label for="pageGraphicFacebook">FB graphic (200px):</label></div>
	<div class="createPageInputText"><input type="text" id="pageGraphicFacebook" value="{{getValue "pageGraphicFacebook"}}"></div>
	<div class="clear"></div>
</template>

<template name="templatePageGraphicHomePage">
	<div class="createPageInputLabel"><label for="pageGraphicHomePage">Homepage graphic (100px):</label></div>
	<div class="createPageInputText"><input type="text" id="pageGraphicHomePage" value="{{getValue "pageGraphicHomePage"}}"></div>
	<div class="clear"></div>
</template>

-->
