<template name="templatePageTitle">
	<div class="bodytext" >
		<div class="bodytext_desc">Title</div>
		<div class="taf_title"><input type="text" id="pageTitle" class="{{highlight "pageTitle"}}" value="{{getValue "pageTitle"}}"></div>
	</div>
</template>

<template name="templatePageName">
	<div class="bodytext" >
		<div class="bodytext_desc">Short URL</div>
		<div class="taf_title"><input type="text" id="pageName" class="{{highlight "pageName"}}" value="{{getValue "pageName"}}"></div>
	</div>
</template>

<template name="templatePageStatement">
	<div class="bodytext" >
		{{#if wrapperStyle 'letter'}}
		<div class="bodytext_desc">Comment</div>
		<div class="taf_title"><input type="text" id="pageStatementLeadIn" class="{{highlight "pageStatementLeadIn"}}" value="{{#if getValue "pageStatementLeadIn"}}{{getValue "pageStatementLeadIn"}}{{else}}Statement lead-in:{{/if}}"></div>
		<div class="taf_copy"><textarea class="textbox {{highlight "pageStatementText"}}" rows="4" type="text" id="pageStatementText">{{#if getValue "pageStatementText"}}{{getValue "pageStatementText"}}{{else}}"Public comment text in Markdown"{{/if}}</textarea></div>
		{{else}}
		<div class="bodytext_desc">Petition</div>
		<div class="taf_title"><input type="text" id="pageStatementLeadIn" class="{{highlight "pageStatementLeadIn"}}" value="{{#if getValue "pageStatementLeadIn"}}{{getValue "pageStatementLeadIn"}}{{else}}Statement lead-in:{{/if}}"></div>
		<div class="taf_copy"><textarea class="textbox {{highlight "pageStatementText"}}" rows="4" type="text" id="pageStatementText">{{#if getValue "pageStatementText"}}{{getValue "pageStatementText"}}{{else}}"Petition text in Markdown"{{/if}}</textarea></div>
		{{/if}}
	</div>
</template>

<template name="templatePageAboutText">
	<div class="bodytext" >
		<div class="bodytext_desc">About text</div>
		<div class="taf_copy"><textarea class="textbox {{highlight "pageAboutText"}}" rows="15" type="text" id="pageAboutText">{{#if getValue "pageAboutText"}}{{getValue "pageAboutText"}}{{else}}In Markdown{{/if}}</textarea></div>
	</div>
</template>

<template name="templatePageFacebook">
	<div class="taf" >
		<div class="taf_logo"><img src="http://shpg.org/images/icon-fb.gif"/><br>
			<span style="color: #FF0000;">{{getValue 'pageFacebookLength'}}</span></div>
		<div class="taf_title"><input type="text" id="pageFacebookTitle" class="{{highlight "pageFacebookTitle"}}" value="{{getValue "pageFacebookTitle"}}"></div>
		<div class="taf_copy"><textarea class="textbox {{highlight "pageFacebookCopy"}}" rows="4" type="text" id="pageFacebookCopy">{{getValue "pageFacebookCopy"}}</textarea></div>
	</div>
</template>

<template name="templatePageTwitterCopy">
	<div class="taf" >
		<div class="taf_logo"><img src="http://shpg.org/images/icon-twitter.gif"/><br>
			<span style="color: #FF0000;">{{getValue 'pageTwitterLength'}}</span></div>
		<div class="taf_copy"><textarea class="textbox {{highlight "pageTwitterCopy"}}" rows="3" type="text" id="pageTwitterCopy">{{#if getValue "pageTwitterCopy"}}{{getValue "pageTwitterCopy"}}{{else}}Include {{{django_string "{LINK}"}}} where you want the short link inserted.{{/if}}</textarea></div>
	</div>
</template>

<template name="templatePageTAF">
	<div class="taf" >
		<div class="taf_logo"><img src="http://shpg.org/images/icon-email.gif"></div>
		<div class="taf_title"><input type="text" id="pageTAFSL" class="{{highlight "pageTAFSL"}}" value="{{#if getValue "pageTAFSL"}}{{getValue "pageTAFSL"}}{{else}}TAF email subject line{{/if}}"></div>
		<div class="taf_copy"><textarea class="textbox {{highlight "pageTAFCopy"}}" rows="5" type="text" id="pageTAFCopy">{{#if getValue "pageTAFCopy"}}{{getValue "pageTAFCopy"}}{{else}}TAF email body. Link: {{{ django_string "{LINK}" }}}{{/if}}</textarea></div>
	</div>
</template>

<template name="templatePageConfEmail">
	<div class="bodytext" >
		<div class="bodytext_desc">Conf email</div>
		<div class="taf_title"><input type="text" id="pageConfEmailSL" class="{{highlight "pageConfEmailSL"}}" value="{{#if getValue "pageConfEmailSL"}}{{getValue "pageConfEmailSL"}}{{else}}Subject line{{/if}}"></div>
		<div class="taf_copy"><textarea class="textbox {{highlight "pageConfEmailBody"}}" rows="8" type="text" id="pageConfEmailBody">{{#if getValue "pageConfEmailBody"}}{{getValue "pageConfEmailBody"}}{{else}}Thanks for taking action on our petition: {{{django_string "{{ page.title }}"}}}.

Here are some ways you can spread the word:

[Email your friends](mailto:?subject={{{django_string "{% include\_tmpl page.followup.taf_subject %}&body={% filter referring\_akid:user.akid|tag\_links:\"source=conf\_email\"|urlencode %}{% include\_tmpl page.followup.taf\_body %}{% endfilter %}"}}}) or forward the message below.

If you are on Facebook, 
[click here to post the petition to your Wall](http://www.facebook.com/sharer.php?no\_akid=1&u={{{django_string "{{ page.canonical\_url|tag\_links:\"source=share\_email\"|referring_akid:user.akid|urlencode }}"}}}).

If you have a Twitter account, click here to automatically tweet:  
[{{{django_string "{% if page.custom\_fields.taf\_tweet %}{{ page.custom\_fields.taf\_tweet }}{% else %} {{page.title}} {{page.canonical\_url}}{% endif %}"}}}](http://twitter.com/intent/tweet?no\_akid=1&text={{{django_string "{% if page.custom\_fields.taf\_tweet %}{{ page.custom_fields.taf\_tweet|urlencode }}{% else %}{{ page.title|urlencode }} {{page.canonical\_url|tag\_links:\"source=tw\_email\"|referring\_akid:user.akid}}{% endif %}"}}})

Thanks for all you do.

–The CREDO Action Team

<hr>

Here’s a sample message to send to your friends:

SUBJECT: {{{django_string "{% include\_tmpl page.followup.taf\_subject escaped %}"}}}

{{{django_string "{% filter referring\_akid:user.akid|tag\_links:\"source=conf\_email\"|linebreaksbr %}
{% include\_tmpl page.followup.taf\_body %}
{% endfilter %}"}}}
		{{/if}}</textarea></div>
	</div>
</template>

<template name="templatePageGraphics">
	<div class="bodytext" >
		<div class="bodytext_desc">HP 100px</div>
		<div class="taf_title"><input type="text" id="pageGraphicHomePage" class="{{highlight "pageGraphicHomePage"}}" value="{{getValue "pageGraphicHomePage"}}"></div>
		<div class="bodytext_desc">FB 200px</div>
		<div class="taf_title"><input type="text" id="pageGraphicFacebook" class="{{highlight "pageGraphicFacebook"}}" value="{{getValue "pageGraphicFacebook"}}"></div>
		<div class="bodytext_desc">Email 180px</div>
		<div class="taf_title"><input type="text" id="pageGraphicEmail" class="{{highlight "pageGraphicEmail"}}" value="{{getValue "pageGraphicEmail"}}"></div>
	</div>
</template>

<!-- for importing into AK -->
<template name="pageImportStatementLeadIn">
	<p>{{getValue "pageStatementLeadIn"}}</p>
</template>

<template name="pageImportStatementText">
	{{#markdown}}{{getValue "pageStatementText"}}{{/markdown}}
</template>

<template name="pageImportAboutText">
	{{#markdown}}{{{getValue "pageAboutText"}}}{{/markdown}}
</template>

<template name="pageImportConfEmailBody">
	{{#markdown}}{{{getValue "pageConfEmailBody"}}}{{/markdown}}
</template>

<!-- display -->

<template name="pageCreationDisplay">
	<h2 class="titleA">{{#if getValue "pageTitle"}}{{getValue "pageTitle"}}{{else}}Headline{{/if}}</h2>
	<div class="col1">
	{{#if getValue "pageStatementText"}}
	<div id="petition-box" class="form-box">
	<div class="form-prompt-box banding">
	{{#if getValue "pageStatementLeadIn"}}<div class="statement-leadin"><p><b>{{getValue "pageStatementLeadIn"}}</b></p></div>{{/if}}
	<div class="statement-text">{{#markdown}}{{getValue "pageStatementText"}}{{/markdown}}</div>
	</div> <!-- .form-prompt-box -->
	</div> <!-- #petition-box -->
	{{/if}}
	</div><!-- .col1 -->
		{{> navBar}}

	<div class="col2 about-text story">
	{{#if getValue "pageGraphicEmail"}}<div class="story-image1"><img src="{{getValue "pageGraphicEmail"}}" alt="{{getValue "pageTitle"}}" width="180" height="180" /></div>{{/if}}
	{{#markdown}}{{{getValue "pageAboutText" }}}{{/markdown}}

	{{#if getValue "pageSharePageLink"}}
		<p><b>Click here to go to the share page</b>: <a href="{{getValue "pageSharePageLink"}}" target="_blank">{{getValue "pageSharePageLink"}}</a></p>
	{{/if}}
	{{#if getValue "pageGraphicHomePage"}}
		homepage graphic: <img src="{{getValue "pageGraphicHomePage"}}"><br>
	{{/if}}
	</div><!-- .col2 -->
	<div class="facebook" style="min-height: 150px;">
		<div id="fb_header"><img src="https://fbstatic-a.akamaihd.net/rsrc.php/v2/yd/r/Cou7n-nqK52.gif" style="padding-right: 5px;"/><b>Post to your wall</b></div>
		<div class="fb_graphic"><img src="{{getValue "pageGraphicFacebook"}}" width="100" height="100" /></div>
		<div id="fb_title">{{getValue "pageFacebookTitle"}}</div>
		<div id="fb_copy">{{getValue "pageFacebookCopy"}}</div>
	</div>
	<div id="tw" style="min-height: 55px;">
		<div id="tw_logo"><img src="http://shpg.org/images/icon-twitter.gif"/></div>
		<div id="tw_copy">{{getValue "pageTwitterCopy"}}</div>
	</div>
	<div id="tafemail" style="min-height: 50px;">
		<div id="tafemail_logo"><img src="http://shpg.org/images/icon-email.gif"></div>
		<div id="tafemail_sl">Subject: {{getValue "pageTAFSL"}}</div>
		<div id="tafemail_body">{{getValue "pageTAFCopy"}}</div>
	</div>
	<div id="confemail">
		<div id="confemail_sl">Confirmation email: {{getValue "pageConfEmailSL"}}</div>
		<div id="confemail_body">{{#markdown}}{{{getValue "pageConfEmailBody"}}}{{/markdown}}</div>
	</div>
</template>
